body {
  background-color: #111;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

section {
  margin-bottom: 3rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 1rem;
}


button {
  background-color: #222;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #444;
}

